<header class="sticky-top">
  <div class="shadow-sm p-3 mb-5 bg-white rounded" >
    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand">Gatito Book</a>
      <div *ngIf="user$ | async as user">
        <div *ngIf="user.name; else login">
          <i class="fa fa-user-circle ml-2 "></i>
          <a class="mr-2">{{ user.name }}</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </nav>
  </div>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
